<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--Adding css to it-->
    <link rel="stylesheet" type="text/css" href="blog.css">

    <title>Blog</title>

</head>

<body>

    <!-- Start Nav-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">

        <!--Start container-->
        <div class="container">

            <!--Nav brand-->
            <a class="navbar-brand" href="#">Blogspot</a>


            <!--Start button-->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="toggle navigation">
          
            <span class="navbar-toggler-icon"></span>

        </button>
            <!--End button-->

            <!--Start links-->

            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ml-auto">
                    <!--Home-->
                    <li class="nav-item">
                        <a class="nav-link" href="index">Home</a>
                        <a class="nav-link" href="blogs">Add Blogs</a>

                    </li>

                </ul>
            </div>
            <!--End links-->

        </div>

    </nav>

    <!-- End Nav-->
    <!--Start Container-->
    <div class="container">

        <!--Page Heading-->
        <h1 class="mt-4 mb-3">Blogs</h1>
        <!--Start breadcrumb-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="blog">Main</a>
            </li>
            <li class="breadcrumb-item actice">Blog</li>
        </ol>
        <!--End breadcrumb-->

        <!-- Startt Project1-->
        <div class="row">

            <div class="col-md-7">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="ngo2.jpg">


            </div>
            <div class="col-md-5">
                <h3>How do we help put India’s railway children back on track?</h3>
                <p>Samar Hafeez / August 20, 2020</p>
                <div>
                    </a>
                    <p>Over one lakh are found on station platforms each year All across India, over 1 crore children live on the streets. Nearly 1.2 lakh children amongst them are found on railway platforms each year. Every five minutes a child arrives
                        alone at a railway station, usually escaping abuse of some sort. They look to make…</p>
                </div>
                <a class="btn btn-primary" href="moreinfo">Continue reading

            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
            </div>

        </div>
        <!--End Project 1-->

        <hr>
        <!-- Startt Project2-->
        <div class="row">

            <div class="col-md-7">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="ngo4.jpg">


            </div>
            <div class="col-md-5">
                <h3>India’s population of malnourished children set to grow</h3>
                <p>Safar Hussain</p>
                </a>
                <p>With schools shut, the pandemic has also robbed them of midday meals INDIA accounts for over a third of the world’s population of malnourished children – one in every three children in the country fall into that category. And this was
                    even before the coronavirus struck. Now experts fear the numbers will be catastrophic. Naina…</p>
                <a class="btn btn-primary" href="moreinfo1">Continue reading
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
            </div>

        </div>
        <!--End Project 2-->
        <hr>
        <!-- Startt Project3-->
        <div class="row">

            <div class="col-md-7">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="ngo5.jpg">


            </div>
            <div class="col-md-5">
                <h3>Underprivileged Children’s Health At Higher Risk Due To The Pandemic</h3>
                <p>Anonymous</p>
                </a>
                <p>
                    <p>
                        Underprivileged children in India are the unseen victims of the Coronavirus pandemic. They are bearing the brunt of the immediate as well as the long-term damage that COVID-19 is causing. The closure of government healthcare centres, suspension of the
                        school midday meal scheme, loss of family income during the lockdown has exacerbated the problem of malnutrition in India.....
                    </p>
                </p>
                <a class="btn btn-primary" href="moreinfo2">Continue reading
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
            </div>

        </div>




    </div>
    <!--End Container-->
    <br>
    <br>
    <!--Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; NGO 2020</p>
        </div>

    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>