<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>HelpAge India</title>
    <link rel="stylesheet" href="ngostyles.css">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>
    <section class="colored-section">
        <div class="container parent back">
            <!-- Navbar -->

            <div class="container navigation back">
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <a class="navbar-brand" href="#">HelpAge India</a>
                    <a class="navbar-brand" href="#">About us</a>
                    <a class="navbar-brand" href="#">Mission</a>


                </nav>
            </div>
            <div class="banner">
                <img src="hai1.jpg" alt="Helping Elderly" class="img-fluid">

            </div>
            <hr>
            <div class="container about back">

                <div class="row">
                    <div class="col-6">
                        <h1>About us</h1>
                        <p>HelpAge India is a leading charity in India working with and for disadvantaged elderly for nearly 4 decades. It was set up in 1978 and is registered under the Societies’ Registration Act of 1860. There are an estimated 106 million
                            elderly in India. HelpAge advocates for their needs such as for Universal Pension, quality healthcare, action against Elder Abuse and many more at a national, state and societal level with Central and State governments. It
                            advocates for elder friendly policies and their implementation thereof. It works hand-in-hand with Senior Citizens Associations understanding elder needs working with and for them.</p>
                        <br>
                        <p>HelpAge’s focus over the years has moved from Welfare to Development. It provides elderly relief through various agecare interventions such as – it runs one of the largest mobile healthcare programs through its Mobile Healthcare
                            Units spanning the country providing free healthcare services to destitute elders, it helps elders earn their livelihood through the formation of Elder-Self-Help Groups making self-reliant, it conducts cataract surgeries to
                            restore their sight, looks after their basic needs though its Support-a-Gran program, runs Elder Helplines across the country, provides relief & rehabilitation for elders post disasters and provides active-ageing opportunities.</p>
                    </div>
                    <div class="col-6 left">
                        <img src="mission.jpg" class="img-fluid">
                        <iframe width="512" height="288" src="https://www.youtube.com/embed/_XRcn0-WbiA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <p>HelpAge’s focus over the years has moved from Welfare to Development. It provides elderly relief through various agecare interventions such as – it runs one of the largest mobile healthcare programs through its Mobile Healthcare Units
                    spanning the country providing free healthcare services to destitute elders, it helps elders earn their livelihood through the formation of Elder-Self-Help Groups making self-reliant, it conducts cataract surgeries to restore their
                    sight, looks after their basic needs though its Support-a-Gran program, runs Elder Helplines across the country, provides relief & rehabilitation for elders post disasters and provides active-ageing opportunities.</p>
                <h3>AIM</h3>
                <p>The aim is to serve elder needs in a holistic manner, enabling them to live active, dignified and healthier lives.</p>
                <img src="aim.jpg" class="aim">
                <img src="aim2.jpg" class="aim">
            </div>
            <hr/>
            <h2>Become a volunteer and serve your purpose</h2>
            <button type="button" class="btn btn-outline-dark btn-lg">VOLUNTEER NOW!</button>
            <hr>
            <h2>Inspired by Our Work and want to help the cause</h2>
            <button type="button" class="btn btn-outline-dark btn-lg">DONATE NOW!</button>
        </div>
    </section>
    <footer class="py-5 bg-dark">
        <div class="container foot">
            <p class="m-0 text-center text-white">Copyright &copy; NGO 2020</p>
        </div>

    </footer>

</body>

</html>