<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="blog.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <!--Adding css to it-->
    <!--<link rel="stylesheet" type="text/css" href="css/custom.css">-->

    <title>Blogspot|About</title>

  </head>

  <body>
    
    <!-- Start Nav-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">

    <!--Start container-->
    <div class="container">
       
       <!--Nav brand-->
       <a class="navbar-brand" href="index.html">Blogspot</a>


       <!--Start button-->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="toggle navigation">
          
            <span class="navbar-toggler-icon"></span>

        </button>
       <!--End button-->

       <!--Start links-->

        <div class="collapse navbar-collapse" id="navbarResponsive">
       
          <ul class="navbar-nav ml-auto">
            <!--Home-->
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>

           </ul>
         </div>

    </div>

  </nav>
    
    <!-- End Nav-->
      <!--Start Container-->
      <div class="container">

       <!--Page Heading--> 
       <!-- <h1 class="mt-4 mb-3">About</h1>-->
        <!--Start breadcrumb-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="blog.html">Main</a>
          </li>
          <li class="breadcrumb-item actice">-</li>
        </ol>
        <!--End breadcrumb-->

        <!-- Startt Row-->
         <div class="row">

            <div class="col-lg-6" style="margin-top: 30px;">
              <img class="img-fluid rounded mb-4" src="ngo3.jpg">
            </div>
            <div class="col-lg-6">
              <h2><b>India’s population of malnourished children set to grow</b></h2>
              <p>INDIA accounts for over a third of the world’s population of malnourished children – one in every three children in the country fall into that category. And this was even before the coronavirus struck. Now experts fear the numbers will be catastrophic. 

Naina is one and a half years old and suffers from malnutrition. Her mother worked as a domestic helper in Delhi till the pandemic stalled her job – she hasn’t been going to people’s houses since March. Naina’s father, who worked as a valet in a plush complex in Delhi, too has lost his job as told by the New Indian Express. Now, as the family struggles to get a few rotis on their plate, they cannot afford milk anymore and Naina has become weaker. This has been the plight of low-income families across cities, towns and villages in India. 


At the start of the lockdown, many economically vulnerable families were able to survive on their meagre savings or borrowings.
</p>
                  </div>

    </div>
    <!--End Row-->

    <div class="row">
      <div class="col-lg-12" style="margin-left: -2px">

        <p>
 However, as the pandemic continues and savings are exhausted, there seems to be no respite in sight. Mid-day meals disrupted India has faced the immense challenge of food security for children for decades. Child nutrition programmes, such as mid-day meals, are run by the government and supported by some nonprofits to provide cooked food to students in government-aided schools in a bid to address the issue of malnourished children.
These schemes feed nearly 120 million children in classes 1-8 and nearly 140 million children between 0 to 6 years. However, the closing of schools because of the lockdown took away that one free meal. 

As the continuity of the schemes was not planned by the centre, mid-day meals distribution in several regions came to a halt in March. The allotted food grains were not provided once the lockdown commenced. Governments in Karnataka, Andhra Pradesh, Assam, West Bengal as well as Jammu and Kashmir quickly stepped up to announce that they would deliver mid-day meals to children, but distribution was also adversely impacted.

Mission No Child Hungry

Such programmes are crucial in providing child nutrition in our country where over 30% of those below five years are malnourished and underweight. Many malnourished children also suffer from anaemia, as per a report by the National Family & Health Survey (NFHS). What made the situation even worse was their parents’ inability to provide for them due to the loss of earnings caused by the shutdown. Child activists in the country demanded a supply of nutritious food to needy children as immunity is crucial to fight the coronavirus. And the only way to improve children’s immunity is through proper nutrition.

An appeal to help fight hunger
Food is the most basic necessity and the right of every child. The unavailability of food is impacting their health and overall development. Join our efforts to fight hunger – by making an online donation to our Mission: No Child Hungry. Help provide nutrition for the development and growth of all children. It only takes ₹1,000 per month to safeguard one child from malnutrition. 

Our NGO partners will distribute nutrition kits to ensure India’s poor children are not malnourished. These kits contain immunity-boosting formulae, multi-vitamins, iron-rich and high protein food items such as dates, Horlicks, lentils, ragi flour, etc. Your donations are needed now more than ever to help organizations deliver necessary aid to malnourished children. The greatest gift to our community and country right now is a contribution, no matter how small. You can donate to our missions on our website. </p>
                  </div>
                </div>
   </div>
      <!--End Container-->
      <br>
      <br>
  <!--Footer-->
  <footer  class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Bootstrap 2020</p>
    </div>

  </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>