<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="blog.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--Adding css to it-->
    <!--<link rel="stylesheet" type="text/css" href="css/custom.css">-->

    <title>Blogspot|About</title>

</head>

<body>

    <!-- Start Nav-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">

        <!--Start container-->
        <div class="container">

            <!--Nav brand-->
            <a class="navbar-brand" href="index">Blogspot</a>


            <!--Start button-->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="toggle navigation">
          
            <span class="navbar-toggler-icon"></span>

        </button>
            <!--End button-->

            <!--Start links-->

            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ml-auto">
                    <!--Home-->
                    <li class="nav-item">
                        <a class="nav-link" href="index">Home</a>
                    </li>

                </ul>
            </div>

        </div>

    </nav>

    <!-- End Nav-->
    <!--Start Container-->
    <div class="container">

        <!--Page Heading-->
        <!--<h1 class="mt-4 mb-3">About</h1>-->
        <!--Start breadcrumb-->
        <ol class="breadcrumb" style="margin-top: 20px;">
            <li class="breadcrumb-item">
                <a href="blog">Main</a>
            </li>
            <li class="breadcrumb-item actice">-</li>
        </ol>
        <!--End breadcrumb-->

        <!-- Startt Row-->
        <div class="row">

            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="ngo1.jpg">
            </div>
            <div class="col-lg-6">
                <h2><b>India’s population of malnourished children set to grow</b></h2>
                <p>Over one lakh are found on station platforms each year All across India, over 1 crore children live on the streets. Nearly 1.2 lakh children amongst them are found on railway platforms each year. Every five minutes a child arrives alone
                    at a railway station, usually escaping abuse of some sort. They look to make money in any way they can, often scavenge for scraps of food and sleep huddled together in groups for safety. These railway children have to face violence,
                    exploitation, trafficking and abuse. Runaway or lost Children from poorer backgrounds run away to escape neglect, abuse, violence at home or are abandoned by their parents or caretakers. They have nowhere to go and end up on the streets
                    because there is nobody to turn to. Many also set out to find work in cities. Some of them intend to return to their families with money but end up getting lost in the chaotic railway network.

                </p>
            </div>

        </div>
        <!--End Row-->

        <div class="row">
            <div class="col-lg-12" style="margin-left: -2px">

                <p>This is exactly what happened to 12-year-old Sonu who was found at Delhi Railway Station in January 2020. He lost his way from his grandmother’s house. Sonu’s father passed away some years ago and his mother was not able to raise him as
                    a single parent. She handed him over to his paternal grandmother. Later, she remarried and started a new life in the village. His grandmother worked as a domestic helper to provide for him but the coronavirus lockdown took away her
                    livelihood and she was unable to even provide food. India's Railway children Our NGO partner Railway Children India took care of Sonu and eventually tracked down his grandmother to reunite them. So many, like Sonu, who end up on railway
                    platforms are at a high risk of becoming easy prey for sexual offenders, human traffickers, drug cartels and others. By the time they come in contact with child welfare organisations, they have already faced trauma and abuse and require
                    counselling and rehabilitation. The lockdown-induced poverty and uncertainty have pushed more children to leave home in search of work. A safety net and shelter We urge you to donate online to our mission to save India’s railway children
                    from abuse and help in providing them with safe shelter, nutritious food, counselling and healthcare. All it takes is ₹600 per day to care for one rescued child. Our NGO partner Railway Children India rescues minors from 10 train stations
                    and runs Open Shelters to provide them with short-term shelter and care. Subsequently, they are either reunited with their families or rehabilitated in long-term care homes. Of course, during the extended lockdown period, the latter
                    could not happen and all the rescued children remained in their care. Railway Children Sadly, as soon as travel restrictions eased a bit, in June alone 78 children were found around the stations and had to be given shelter. With the
                    sudden loss of livelihoods created by the lockdown and families thrown into abject poverty, NGOs expect that there are going to be even more children like Sonu who need help. Railway Children India are running a fundraiser to provide
                    these vulnerable children with the most basic care and protection until they are reunited with their families or referred to long-term care homes. Please donate now. </p>
            </div>
        </div>
    </div>
    <!--End Container-->
    <br>
    <br>
    <!--Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Bootstrap 2020</p>
        </div>

    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>